.grid-tile {
  position: absolute;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 2px;
  background: lightgray;
  text-align: center;
}

.grid-tile-row-0 {
  top: 20px;
}

.grid-tile-row-1 {
  top: 140px;
}

.grid-tile-row-2 {
  top: 260px;
}

.grid-tile-row-3 {
  top: 380px;
}

.grid-tile-col-0 {
  left: 20px;
}

.grid-tile-col-1 {
  left: 140px;
}

.grid-tile-col-2 {
  left: 260px;
}

.grid-tile-col-3 {
  left: 380px;
}

.grid-tile-from-row-0 {
  animation-name: from-row-0;
  animation-duration: 0.25s;
}

.grid-tile-from-row-1 {
  animation-name: from-row-1;
  animation-duration: 0.25s;
}

.grid-tile-from-row-2 {
  animation-name: from-row-2;
  animation-duration: 0.25s;
}

.grid-tile-from-row-3 {
  animation-name: from-row-3;
  animation-duration: 0.25s;
}

.grid-tile-from-col-0 {
  animation-name: from-col-0;
  animation-duration: 0.25s;
}

.grid-tile-from-col-1 {
  animation-name: from-col-1;
  animation-duration: 0.25s;
}

.grid-tile-from-col-2 {
  animation-name: from-col-2;
  animation-duration: 0.25s;
}

.grid-tile-from-col-3 {
  animation-name: from-col-3;
  animation-duration: 0.25s;
}

@keyframes from-row-0 {
  0% {
    top: 20px;
  }
}

@keyframes from-row-1 {
  0% {
    top: 140px;
  }
}
@keyframes from-row-2 {
  0% {
    top: 260px;
  }
}
@keyframes from-row-3 {
  0% {
    top: 380px;
  }
}

@keyframes from-col-0 {
  0% {
    left: 20px;
  }
}

@keyframes from-col-1 {
  0% {
    left: 140px;
  }
}
@keyframes from-col-2 {
  0% {
    left: 260px;
  }
}
@keyframes from-col-3 {
  0% {
    left: 380px;
  }
}

.grid-tile-0 {
  visibility: hidden;
}

.grid-tile-2 {
  background: rgb(235, 235, 235);
  z-index: 2;
}

.grid-tile-4 {
  background: tan;
  z-index: 3;
}

.grid-tile-8 {
  background: orange;
  z-index: 4;
}

.grid-tile-16 {
  background: lightgreen;
  z-index: 5;
}

.grid-tile-32 {
  background: lightblue;
  z-index: 6;
}

.grid-tile-64 {
  background: pink;
  z-index: 7;
}

.grid-tile-128 {
  background: yellow;
  z-index: 8;
}

.grid-tile-256 {
  background: rgb(194, 255, 96);
  z-index: 9;
}

.grid-tile-512 {
  background: rgb(226, 162, 255);
  z-index: 10;
}

.grid-tile-1024 {
  background: lightcoral;
  z-index: 11;
}

.grid-tile-2048 {
  background: gold;
  z-index: 12;
}

.grid-tile-4096 {
  background: rgb(89, 89, 153);
  z-index: 13;
}
