.header {
  margin: auto;
  width: 500px;
  position: relative;
  display: flex;
  height: 100px;
}

.title {
  padding-right: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 60px;
}

.score {
  vertical-align: center;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.grid {
  margin: auto;
  width: 500px;
}
